@import "src/app/shared/scss/media-queries";

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--grid-gap);

  @include sm {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include md {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include lg {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.no-rooms-container {
  max-width: 400px;
  margin: 80px auto;
  text-align: center;

  h2 {
    font-weight: normal;
  }
}

.is-loading-container {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
