.container {
  display: flex;
  aspect-ratio: 4/3;
  flex-flow: column;
  justify-content: flex-end;

  background: var(--color-dark-grey);
  color: var(--color-white);

  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.1s ease-out;

  &:active {
    transform: scale(0.97);
  }
}

h4 {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 1.2rem;
}
