<div class="inner" *ngIf="room$ | async as room" [appTemperatureBackground]="room.temperature">
  <header>
  <button class="close-btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>

  <button *ngIf="!editMode" app-button type="transparent" (click)="startEditMode()">Edit</button>
  <button *ngIf="editMode" app-button type="primary" (click)="saveRoom()">Save</button>
  </header>

  <div class="title">
    <h1 *ngIf="!editMode">{{room.name}}</h1>
    <input #nameInput *ngIf="editMode" appSelectOnInsert type="text" [(ngModel)]="newName">
  </div>


  <main>
    <app-room-temperature [temperature]="room.temperature"></app-room-temperature>

    <h3 class="humidity">
      <mat-icon>water_drop</mat-icon>
      {{room.humidity}}%
    </h3>
  </main>
</div>
